<div class="row animated fadeIn">
 <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Médico: Nombre</h3>
        <p class="text-muted m-b-30 font-13"> Form </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre del medico</label>
                        <input [(ngModel)]="medico.nombre" name="nombre" class="form-control" placeholder="Nombre del medico" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="idHospital" class="form-control" required>
                        	<option value="">Seleccione Hospital</option>
                        	<option [value]="hospital._id" *ngFor="let hospital of hospitales"> {{ hospital.nombre }} </option>
                        </select>  
                    </div>
                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    	<i class="fa fa-save"></i>	Guardar
                    </button>
                    <a routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
 </div>

 <div class="col-md-3">
 	<div class="card card-body">
	 	<h3 class="box-title m-b-0">Hospital</h3>
	 	<img [src]="hospital.img | imagen: 'hospitales'" class="rounded img-fluid" alt="">
	 	{{hospital.img}}
 	</div>
 </div>

 <div class="col-md-3" *ngIf="medico._id">
 	<div class="card card-body">
	 	<h3 class="box-title m-b-0">Fotografia</h3>
	 	<img [src]="medico.img | imagen: 'medicos'" (click)="cambiarFoto()" class="rounded img-circle img-fluid pointer" alt="">
 	</div>

 </div> 
</div>